<h1>Welcome to the Virtual Gift Exchange!</h1>

<div id="present-form">
	<div style="position: relative;">
		<img id="envelope" src="/images/envelope.png" alt="Envelope" />
		<div id="note-wrapper"> 
			<input type="text" id="note-input" placeholder="Leave a note..." maxlength="100">
			<button id="add-note-btn" style="height: 40px;">Leave Note</button>
		</div>
	</div>

</div>

{{!-- <h2>Presents</h2> --}}
<div id="presents-container" style="display: flex; flex-wrap: wrap; gap: 16px;"></div>